NEXT_PUBLIC_SUPABASE_URL=https://wwumyiayuasdopwxpetk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_mGp7t4BJ-CAo_R8DjOcn-A_ncGQ0R8S
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3dW15aWF5dWFzZG9wd3hwZXRrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODU3NDEzMywiZXhwIjoyMDk0MTUwMTMzfQ.HChNCySbhEtUIWUMmRpC3EVX7Hlsfsg1XrHZrNFNZ0I
NEXT_PUBLIC_WA_NUMBER=918445618578